<h1>Lista de Receitas</h1>

<h3> <%= @recipe_list.name %> </h3>

<% if @recipe_list.recipes.any? %>
  <% @recipe_list.recipes.each do |recipe| %>
    <p> <%= link_to @recipe.title, recipe %> </p>
  <% end %>
<% else %>
  <p> Você não tem nenhuma receita adicionada </p>
<% end %>

<%= link_to 'Voltar', root_path %>
