<nav>
  <% if user_signed_in? %>
    <span> Bem vindo <%= current_user.email %>! </span>
    <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    <%= link_to 'Minhas receitas', users_my_recipes_path %>

  <% else %>
    <%= link_to 'Entrar', new_user_session_path %>
  <% end %>
</nav>
